body {background-color: #000000; color: #FFFFFF;}
.center{text-align: center;}
/*.centert{text-align: center;}*/
.centert{margin: 0 auto;}
.centerp{display: block; margin-left: auto; margin-right: auto;}
h4.cat {color: #FFFF00}
h5.type {color: #0000FF}
span.minU {color: #00FE00}
span.minD {color: #FF0000}
span.minS {}

.repG {color: #0000FF;}
.repB {color: #FFFF00;}
/*
td.mindem0 {color: #00FE00}
td.mindem1 {color: #33FF00}
td.mindem2 {color: #66FF00}
td.mindem3 {color: #99FF00}
td.mindem4 {color: #CCFF00}
td.mindem5 {color: #FFFF00}
td.mindem6 {color: #FFCC00}
td.mindem7 {color: #FF9900}
td.mindem8 {color: #FF6600}
td.mindem9 {color: #FF3300}
td.mindem10 {color: #FF0000}
*/
td.run {color: #3FFF00}
td.done {color: #CCCCCC}
span.new {color: #00FE00}
span.experimental {color: #0000FF}
span.redt {color: #FF0000}
span.bluet {color: #0000FF}

